<!DOCTYPE html>
<html lang="kr"
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="ConfigFragment">
	<head>
		<!--Common Head-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport"
			content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
		<link rel="stylesheet" href="/assets/css/main.css">
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
		<title></title>
	</head>
</html>