<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:replace="~{common/config :: 'ConfigFragment'}">
		<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
	</head>

	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
			<section id="header">
				<header th:replace="~{common/header :: 'HeaderFragment'}"></header>
			</section>
			<section id="main">
				<th:block layout:fragment="Content"></th:block>
			</section>
			<section id="footer">
				<footer th:replace="~{common/footer :: 'FooterFragment'}"></footer>
			</section>
		</div>
	</body>
</html>